

# Ignores development broadcast logs
!/broadcast
/broadcast/*
/broadcast/*/31337/

# node
node_modules
package-lock.json
yarn.lock

.env
.env*
!.env.template
coverage
coverage.json
.DS_Store

# Hardhat files
cache
artifacts
typechain

# Foundry
out
lcov.info
report

# Others 
#lib
